@model ProyectoWizard.Models.Usuario

@{
	Layout = null;
}
<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<html>
<body>
	<section class="vh-100" style="background-color: #508bfc;">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-12 col-md-8 col-lg-6 col-xl-5">
					<div class="card shadow-2-strong" style="border-radius: 1rem;">
						<div class="card-body p-5 text-center">

							<h3 class="mb-5">Login</h3>
							<form asp-controller="Acceso" asp-action="Login" method="post">
								<div data-mdb-input-init class="form-outline mb-4">
									<input type="email" id="correo" class="form-control form-control-lg" asp-for="correo" />
									<label class="form-label" for="correo">Correo</label>
								</div>

								<div data-mdb-input-init class="form-outline mb-4">
									<input type="password" id="clave" class="form-control form-control-lg" asp-for="clave" />
									<label class="form-label" for="clave">Contraseña</label>
								</div>

								<button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" type="submit">Entrar</button>
							</form>
							<hr class="my-4">

							@if (ViewData["Mensaje"] != null)
							{
								<div class="alert alert-danger" role="Alert">
									@ViewData["Mensaje"]
								</div>
							}
							¿No tienes una cuenta?<a asp-controller="Acceso" asp-action="Registrarse">Registrarse</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
<style>

</style>